@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #B09E76;
    margin: 0; 
}

.wrapper {
    background-color: black;
}

nav {
    text-align: center;
    font-size: larger;
    background-color: #7F694A;
    position: sticky;
    top: 0;
    z-index: 100;
    /* border: solid; */
}

/* .construct {
    background-image: url(images/Construction-PNG-Transparent-Picture.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    width: 50%;
    float: left;
} */


header {

    font-family:'Fredericka the Great', 'Serif' ;
    text-align: center;
    font-size: larger;
    justify-content: center;
    background-color: #F0E7D3;
    letter-spacing: .15em; 
    padding-top: 5%;
    background-image: url(images/final_logo.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    height: 270px;
}


footer {
    background-color: #F0E7D3;
    border: solid  #F0E7D3;
    border-top: solid #5d4c35;
    text-align: center;
}

footer a{
    text-decoration: underline;
}

main {
    background-color: #B09E76;
    padding: 5px 5%;
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
    /* border: solid; */
    margin-right: 30px;

}

nav a {
    line-height: 40px;
    display: inline-block;
}

p {
    display: flex;
    margin: 5% 15%;
    justify-content: center;
    padding-left: 1%;
    text-indent: 3%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-family:'Fredericka the Great', 'Serif' ;
    text-transform: uppercase;
    color:#5d4c35;
    /* font-variant: small-caps; */
    font-size: 3em;
    text-align: center;
}

a {
    text-decoration: none;
}

a:link {
    color: #214D31;
}

a:visited {
    color: #214D31;
}

a:hover {
    color: #7F694A;
}

nav a:link {
    color: #F0E7D3;
}

nav a:visited {
    color: #F0E7D3;
}

nav a:hover {
    color: #B09E76;
}

nav li .active {
    color: #214D31;
}

#homeimg {
    display: flex;
    justify-content: center ;
    /* border: solid; */
}

#homeimg img{

    width: 75%;
    border-radius: 15px;
}

#family {
    display: flex;
    justify-content: center ;
}

#family img{
    border: 5px solid #F0E7D3;
    width: 60%;
    border-radius: 15px;
}

#buttons {

    /* border: solid; */
    display: flex;
    margin: 0 40%;
    /* padding: 0 75%; */
    justify-content:space-around;
    flex-wrap: wrap;
}

button{
    background: #5d4c35;
    border: 0;
    color: #F0E7D3;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

#about{
    display: flex;
    /* border: solid; */
    flex-wrap: wrap;
    padding-top: 3%;
}

#about p{
    /* border: solid; */
    margin: 0 15%;
    padding-bottom: 1%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
  }
  
  .card {
    width: 300px;
    margin: 10px;
    background-color: #F0E7D3;
    border: 5px solid #F0E7D3;
    box-shadow: 2px 2px 6px 0px #5d4c35;
  }

  .card img{
    border-radius: 3px;
  }
  
  .card img {
    max-width: 100%;
  }
  
  .card .text {
    padding: 0 20px 20px;
    text-align: center;
  }
  
  .card .text button {
    width: 100%;
  }

  .text p{
    white-space: nowrap;
  }


/* Media query for tablets and smaller screens */
@media screen and (max-width: 1100px) {
    main {
        padding: 5px 10px; 
    }

    header{
        background-image: none;
        height: auto;
        padding: 0;
        padding-bottom: 5px;
    }

    h1{
        font-size: 3em;
    }

    h2{
        font-size: 2em;
    }
    .card {
        width: 200px;
        margin: 10px;
        background-color: #F0E7D3;
        border: 5px solid #F0E7D3;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    nav {
        display: block;
        font-size: medium;
        height: auto;
    }

    nav li {
        text-align: center;
        display: block;
        padding: 10px 0;
        /* border: solid; */
        margin-right: 30px;
    }

    nav a {
        line-height: normal;
        display: block;
    }

    header {
        background-size: 100%;
        height: auto;
        background-image: none;
        padding: 0;
        padding-bottom: 5px;
    }

    .card {
        width: 150px;
        margin: 10px;
        background-color: #F0E7D3;
        border: 5px solid #F0E7D3;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      }

}
